<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924835253163-9runjpvt5noccn884hv34rsbpanctpo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924835253163-9runjpvt5noccn884hv34rsbpanctpo3</string>
	<key>API_KEY</key>
	<string>AIzaSyBQppcgw8IFTvMCT805MHohrs40iVizPHE</string>
	<key>GCM_SENDER_ID</key>
	<string>924835253163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.djsports</string>
	<key>PROJECT_ID</key>
	<string>djsports-3c714</string>
	<key>STORAGE_BUCKET</key>
	<string>djsports-3c714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924835253163:ios:2469006cbdcb45ce9320ee</string>
</dict>
</plist>